
/* When sidebar is hidden */
body.toggle-sidebar .main {
  margin-left: 0;
}

/* Login Page Styling */
.login-main {

  margin: 0 auto !important;
  padding: 50px 20px !important;

  max-width: 1400px; 
  /* Centering login form */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full-screen height */
  background-color: #f8f9fa; /* Light background */
}
